//variables
$borderColor: #c1c1c1;
$backgroundDarkColor: #000; //the main styles
$backgroundLightColor: #efefef; //the main styles
body {
    .react-datepicker__time-list {
        padding: 0;
        margin: 0;
    }
    .ectLivePreview {
        display: inline-block;
        .preview {
            display: inline-block;
            border: 1px solid $borderColor;
            padding: 10px;
        }
    }
    .ectDateTimePicker {
        margin-top: 20px;
        .cDT {
            padding: 10px;
            text-align: center;
            border: 1px solid $borderColor;
            margin: 10px 10px 10px 0;
            display: inline-block;
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            border-radius: 10px;
            span {
                display: block;
                text-align: center;
                margin-bottom: 5px;
                text-transform: uppercase;
            }
        }
        span {
            &.title {
                font-size: 14px;
            }
        }
    }
    .ectLayouts {
        .layouts {
            display: flex;
            .indLayout {
                display: inline-block;
                cursor: pointer;
                min-width: 110px;
                min-height: 110px;
                border: 1px solid $borderColor;
                margin: 10px;
                text-align: center;
                &:hover {
                    background: $backgroundDarkColor;
                    color: #Fff;
                }
                .cont {
                    &.spanDiv {
                        min-height: 100px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }
            }
        }
    }
    span {
        &.title {
            background-color: $backgroundDarkColor;
            color: #FFFFFF;
            font-size: 18px;
            line-height: 35px;
            padding: 5px;
            font-weight: bold;
            text-transform: capitalize;
        }
    }
    .buttons {
        button {
            &.insert {
                padding: 10px;
                font-size: 18px;
                @include border-radius(5px);
                background: #4365cb;
                color: #FFF;
                width: 200px;
            }
        }
    }
    .moreOptions {
        margin: 20px 10px 30px 0;
        span {
            &.expand {
                padding: 10px;
                weight: 900;
                background: rgb(223, 223, 223);
                &:hover {
                    cursor: pointer;
                    background: rgb(80, 80, 80);
                    color: #FFF;
                }
            }
        }
        .ReactCollapse--content {
            border: 1px solid $borderColor;
            background-color: $backgroundLightColor;
            padding: 30px 20px 20px 20px;
            margin-top: 9px;
        }
        .EctSlider,
        .EctColorPicker {
            div {
                div {
                    margin: 0px !important;
                }
            }
            span {
                &.title {
                    display: block;
                    background: none;
                    color: $backgroundDarkColor;
                }
            }
        }
    }
}